<!doctype>
<html>
	<head>
		<meta charset="utf-8">
		<title><%=title %></title>
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/OSCSocpe.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
	</head>
	<body>
		<div id="box" class="SPYbox">
			<canvas id="screen" width="900" height="500"></canvas>
		</div>
	</body>
</html>

